canvas {
    border: 1px solid black;
    background: linear-gradient(gray , lightgray );
}

div {
    margin-left: 30px;
    margin-right: 30px;
}

h2 {
    text-align: center;
}


.column {
    float: left;
    /*width: 50%;*/
   }
